<div class="lists">

    <h1>To Do Lists</h1>
    <button mat-button (click)="addList()">Add ToDo List</button>

    <div>
        <div class="list-item" *ngFor="let list of todos">
            <h3 [ngClass]="{'completed': list.completed }" (click)="openList(list.name)">{{list.name}}</h3>
            <button mat-button [disabled]="list.completed" (click)="completeList(list)">Complete List</button>
            <button mat-button (click)="deleteList(list)">Delete List</button>
            <div class="outstanding-tasks">
                Outstanding tasks: {{getIncompleteTasksCount(list.tasks)}}
            </div>
            
        </div>
    </div>

</div> 