<h1>{{title}}</h1>

<div class="form">
    <div>
        <h3>Description</h3>
        <textarea matInput [(ngModel)]="description"></textarea>
    </div>
    <div>
        <h3>Due Date</h3>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dueDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </div>
    <div>
        <h3>Priority</h3>
        <mat-form-field>
            <mat-select [(value)]="priority">
                <mat-option *ngFor="let priority of priorities" [value]="priority">
                    {{priority}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<button mat-button (click)="save()">Save</button>